.btn {
   width: 100%;
   border-radius: 22px;
   padding: 4px;
   text-align: center;
   margin: 10px;
   border-color: transparent;
   background-color: #4b90e3;
   color: white;
   margin: 20px 0;
   height: 45px;
   font-size: 1.1rem;
   cursor: pointer;
   font-weight: 600;
}

.btn:active {
   transform: scale(0.95);
}
